.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

.back {
  padding: 20px;
}

.ad {
  display: flex;
  align-items: center;
  width: 800px;
  height: 140px;
  justify-content: space-between;
  border: 1px solid gray;
  margin-bottom: 8px;
  padding: 20px;
}

.image {
  background-position: center;
  background-size: cover;
  width: 134px;
  height: 98px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding: 20px;
}

.gallery {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 400px;
}
